.header__container {
  display: flex;
  align-items: center;

  // width: 100%;
  // padding: 10px 10px 10px 15px;
  // margin-left: auto;
  // margin-right: auto;
}

.logo-link__web {
  color: var(--acctnt-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-link__studio {
  color: var(--logo-studio-header-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header__navigation {
  @media screen and (min-width: 768px) {
    margin-left: 88px;
    margin-right: 90px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.navigation__menu {
  display: flex;
  gap: 50px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
  position: relative;
  &.current::after {
    content: '';

    position: absolute;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--acctnt-color);
    border-radius: 2px;
  }
  &:hover,
  &:focus {
    color: var(--acctnt-color);
  }
}

.menu__link.current {
  color: var(--acctnt-color);
}

.header__contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    & .contacts__item:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.contacts__link {
  color: var(--contacts-features-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--acctnt-color);
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__link-mail {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 21px;
    padding-bottom: 5px;
  }
}

.contacts__link-tel {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 5px;
    padding-bottom: 21px;
  }
}

.contacts__icon-tablet {
  margin-right: 8px;
  fill: currentColor;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.contacts__icon-desktop {
  margin-right: 10px;
  fill: currentColor;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: none;
  }
}

.menu-open {
  margin-left: auto;
  background-color: transparent;
  transition: fill 250ms var(--timing-function);
  &:hover,
  &:focus {
    fill: var(--acctnt-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

// .menu-open__icon {
// }

.mob-menu {
  width: 100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: 1;
  background-color: var(--hero-studio-footer-text-color);
  > .mob-menu__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.mob-menu__container {
  position: relative;

  width: 100%;
  padding: 48px 40px;
  margin-left: auto;
  margin-right: auto;
}

.menu-close {
  position: absolute;
  top: 5px;
  right: 15px;

  margin-left: auto;
  display: flex;
  background-color: transparent;
  transition: fill 250ms var(--timing-function);
  &:hover,
  &:focus {
    fill: var(--acctnt-color);
  }
}

// .menu-close__icon {
// }

.mob-menu-list {
  margin-bottom: 32px;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: var(--title-black-color);
}

.mob-menu__link.current {
  color: var(--acctnt-color);
}

// .mob-contacts {
// }

.mob-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contacts-tel__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--acctnt-color);
}

.mob-contacts-mail__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--contacts-features-text-color);
}

.mob-soc {
  display: flex;
  margin-top: 64px;
  flex-wrap: wrap;
  row-gap: 10px;
}

// .mob-soc__item::after {
//   content: '';
//   display: inline-block;
//   width: 0;
//   height: 22px;
//   margin-right: 10px;
//   margin-left: 10px;
//   border: 1px solid var(--border-modal-input);
// }

.mob-soc__item {
  padding-left: 10px;
  padding-right: 10px;
}

.mob-soc__item:not(:first-child) {
  padding-left: 10px;
}

.mob-soc__item:not(:last-child) {
  border-right: 1px solid var(--border-modal-input);
}

.mob-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--acctnt-color);
}
