.hero {
  padding: 118px 0;

  background-color: var(--hero-bcg-color-footer);
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }
}

.overlay {
  max-width: 1600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-bcg-color-footer);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: var(--gradient), url('../images/hero/hero-mobile-320.jpg');
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: var(--gradient), url('../images/hero/hero-mobile-640.jpg');
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: var(--gradient), url('../images/hero/hero-tablet-320.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: var(--gradient), url('../images/hero/hero-tablet-640.jpg');
    }
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    background-image: var(--gradient), url('../images/hero/hero-desktop-320.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: var(--gradient), url('../images/hero/hero-desktop-640.jpg');
    }
  }
}

.hero__title {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;

  color: var(--hero-studio-footer-text-color);

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  padding: 10px 24px;
  margin: 0 auto;

  background-color: var(--acctnt-color);
  color: var(--hero-studio-footer-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: background-color 250ms var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--hero-button-active);
  }

  @media screen and (min-width: 1200px) {
    padding: 10px 32px;
  }
}
